# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
node_modules/
.tmp/

# OS or Editor folders
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
_notes
dwsync.xml