.large-hero {
    position: relative;
    border-bottom: 10px solid $primary-color;

    &_banner-section {
        position: absolute;
        width: 100%;
        bottom: 50%;
        transform: translateY(50%);
        text-align: center;
    
        h1 {
            font-weight: 300;
            color: $primary-color;
            font-size: 2.8rem;

            @include scScmall{
                font-size: 2.8rem;
            }
            @include scMedium{
                font-size: 3.8rem;
            }
            @include scLarge{
                font-size: 4.8rem;
            }
        }
    
        h2 {
            margin-bottom: 0.75rem;
            font-weight: 300;
            color: $primary-color;
            font-size: 1.8rem;

            @include scScmall{
                font-size: 1.8rem;
            }
            @include scMedium{
                font-size: 2.3rem;
            }
            @include scLarge{
                font-size: 2.8rem;
            }
        }

        p:first-of-type {
            max-width: 33rem;
            margin: 0px auto;
            color: hsl(0, 0%, 100%);
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            font-weight: 90;
            text-shadow: 2px 2px 0 hsla(0, 0%, 0%, .1);

            @include scScmall{
                font-size: 1.2rem;
            }
            @include scMedium{
                font-size: 1.5rem;
            }
            @include scLarge{
                font-size: 1.8rem;
            }
        }

        .btn-orange {
            font-size: 1.25rem;
            padding: 1.1rem 1.9rem;
        }
    }
    
    img {
        display: block;
    }
}

#our-beginning {

    text-align: center;

    .headline{
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .headline:nth-child(1){
        font-weight: 100;
        
    }

    .headline:nth-child(2){
        display: inline-block;
        max-width: 360px;
        padding-bottom: 2.5rem;
        color: $tertiary-color;
        font-size: 1.875rem;
    }

    .headline:nth-of-type(2){
        font-weight: 100;

    }

    section {
        display: block;
        padding-top: 2.875rem;
        gap: 30px;

        text-align: justify;

        .headline{
            padding-top: 1.5rem;
        }

        p {
            font-size: large;
        }

        div:first-child{

            width: fit-content;
            margin: auto;
        }

        div:last-child {
            flex-basis: 63%;
            align-self:flex-start;
            justify-self: center;

            p {
                margin: 1rem 0;

                a {
                    font-weight: 600;
                }
            }
        }

        @include scScmall{
            display: flex;

            .headline{
                padding-top: 0;
            }
        }

    }

}

#features {

    section {
        display: block;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        background-color: $primary-color;
        color: hsl(0, 0%, 100%);

        .sub{
            max-width: 360px;
            margin: 3rem auto 0 auto;

            h3 {
                margin: 0.5rem 0;
                font-size: 1.875rem;
                font-weight: 300;
            }

            p {
                line-height: 1.5;
                font-weight: 300;
            }
        }

        .main{
            grid-column: span 2;
            margin: 0 auto;
            margin-top: 3rem;
            margin-bottom: 6rem;
            text-align: center;

            h2 {
                display: inline;
                position: relative;
                font-size: 2.75rem;
                font-weight: 300;

                strong{
                    font-weight: 600;
                }
            }

            img {
                position: absolute;
                top: -15px;
                left: -75px;
            }
        }

        @include scScmall{

            display: grid;

            .main{
                margin-bottom: 4.5rem;
            }

            .sub{
                margin-top: 0;
            }

        }
    }
}

#testimonials{

    section{
        background-color: hsl(206, 42%, 75%);
        
        color: hsl(0, 0%, 0%);

        .subs{
            display: flex;
            flex-direction: column;
            gap: 60px;
            margin: 0 auto;
            width: 90%;

            div{
                flex-grow: 1;
                justify-content: space-between;
                flex-basis: 25%;
                padding: 0 1.8125rem 1px 1.8125rem;
                background: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.7));

                img{
                    display: block;
                    top: -80px;
                    border: 6px solid hsla(0, 0%, 100%, 0.7);
                    border-radius: 50%;
                    margin: 0 auto 15px auto;
                }

                h3{
                    color: $primary-color;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin: 0;
                }

                h4{
                    color: $tertiary-color;
                    text-align: center;
                    font-size: 0.9375rem;
                    font-weight: 400;
                    margin: .25rem 0 1rem 0;
                }

                p{
                    line-height: 1.5;
                    font-weight: 300;
                }
            }

            h3 {
                margin: 0.5rem 0;
                font-size: 1.875rem;
            }

            p {
                line-height: 1.5;
                font-weight: 300;
            }
        }

        .main{
            margin: 0 auto;
            margin-top: 3rem;
            margin-bottom: 6rem;
            text-align: center;

            h2 {
                position: relative;
                display: inline;
                font-size: 2.75rem;
                font-weight: 300;
                color: $primary-color;

                strong{
                    font-weight: 600;
                }

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        @include scScmall{
            background: url('../../assets/imgs/testimonials-bg.jpg')top center no-repeat;
            background-size: cover;

            .main{
                margin-bottom: 4.5rem;

                h2 {
                    position: relative;
                }

                img {
                    position: absolute;
                    top: -15px;
                    left:  -75px;
                }
            }

            .subs{
                flex-direction: row;
                gap: 15px;
            }

        }
    }

}

